In [74]:
import pandas as pd
import numpy as np

In [81]:
PATH = '/Users/chenzhibin/Desktop/uchicago/MA/'

In [77]:
df2010 = pd.read_stata('/Users/chenzhibin/Desktop/uchicago/MA/data/cfps2010famconf_202008.dta',convert_categoricals = False)

In [78]:
df2010.head().head()

,pid,fid,cid,provcd,countyid,psu,subpopulation,subsample,code_a_p,tb2_a_p,...,feduc,foccupcode,foccupisco,fparty,mbirthy,meduc,moccupcode,moccupisco,mparty,releaseversion
0,110001101.0,110001.0,11830.0,11.0,45.0,45.0,6.0,1.0,101.0,1.0,...,NaN,NaN,NaN,NaN,1938.0,3.0,NaN,NaN,NaN,5.1
1,110001102.0,110001.0,11830.0,11.0,45.0,45.0,6.0,1.0,102.0,0.0,...,NaN,NaN,NaN,NaN,1934.0,NaN,NaN,NaN,NaN,5.1
2,110002101.0,110002.0,11830.0,11.0,45.0,45.0,6.0,1.0,101.0,1.0,...,1.0,90000.0,NaN,4.0,1929.0,1.0,90000.0,NaN,4.0,5.1
3,110002102.0,110002.0,11830.0,11.0,45.0,45.0,6.0,1.0,102.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
4,110002103.0,110002.0,11830.0,11.0,45.0,45.0,6.0,1.0,103.0,0.0,...,4.0,NaN,NaN,4.0,1969.0,6.0,10303.0,1143.0,4.0,5.1

In [79]:
df2010[['tb1y_a_p']].describe()

           tb1y_a_p
count  57152.000000
mean    1857.027016
std      466.208408
min       -9.000000
25%     1955.000000
50%     1972.000000
75%     1989.000000
max     2010.000000

In [82]:
df2012 = pd.read_stata(PATH+'data/ecfps2012famconf_092015.dta')

In [13]:
df2012.head()

,pid,fid12,fid10,code_a_p,cfps_interv_p,tb1a_a_p,tb1b_a_p,tb1y_a_p,tb1m_a_p,tb2_a_p,...,familysize,tf10pid,subpopulation,subsample,fbirth12,mbirth12,feduc12,meduc12,generation,releaseversion
0,100453401.0,100453.0,Not applicable,401.0,Had valid adult or child questionnaire in CFPS...,Not applicable,0.0,2012.0,1.0,Female,...,3.0,430111103.0,other province subpopulation,Yes,1981.0,1981.0,Not applicable,4-year college/Bachelor's degree,two generations family,6.0
1,100453401.0,430111.0,Not applicable,401.0,No valid adult or child questionnaire ever,Not applicable,Not applicable,2012.0,Not applicable,Female,...,2.0,430111101.0,other province subpopulation,Yes,Not applicable,1981.0,Not applicable,4-year college/Bachelor's degree,one generation family,6.0
2,100453431.0,100453.0,Not applicable,431.0,No valid adult or child questionnaire ever,Not applicable,31.0,1981.0,11.0,Male,...,3.0,430111103.0,other province subpopulation,Yes,Not applicable,Not applicable,Not applicable,Not applicable,two generations family,6.0
3,105179431.0,105179.0,Not applicable,431.0,No valid adult or child questionnaire ever,Not applicable,48.0,1964.0,1.0,Male,...,4.0,105179431.0,gansu subpopulation,No,Not applicable,Not applicable,Not applicable,Not applicable,two generations family,6.0
4,105179432.0,105179.0,Not applicable,432.0,No valid adult or child questionnaire ever,Not applicable,47.0,1965.0,11.0,Female,...,4.0,105179431.0,gansu subpopulation,No,Not applicable,Not applicable,Not applicable,Not applicable,two generations family,6.0

In [18]:
df2012[['tb1y_a_p']]

      tb1y_a_p
0       2012.0
1       2012.0
2       1981.0
3       1964.0
4       1965.0
...        ...
55007   1971.0
55008   1998.0
55009   1986.0
55010   2009.0
55011   2012.0

[55012 rows x 1 columns]

In [84]:
df2014 = pd.read_stata(PATH+'data/ecfps2014famconf_170630.dta')

In [85]:
df2016 = pd.read_stata(PATH+'data/ecfps2016famconf_201804.dta')

In [86]:
df2018 = pd.read_stata(PATH+'czb_essay/data/ecfps2018famconf_202008.dta',convert_categoricals = False)


df2020 = pd.read_stata(PATH+'czb_essay/data/cfps2020famconf_202301.dta',convert_categoricals = False)

In [87]:
df2010adult = pd.read_stata(PATH+'data/cfps2010adult_202008.dta', convert_categoricals=False)

In [21]:
df2010adult

,pid,fid,cid,provcd,countyid,psu,rswt_nat,rswt_res,subpopulation,subsample,...,fbirthy,foccupcode,foccupisco,fparty,mbirthy,moccupcode,moccupisco,mparty,releaseversion,interviewerid
0,411643103.0,411643.0,20950.0,41.0,106.0,120.0,24037.648438,86709.250000,3.0,1.0,...,1959.0,50103.0,6113.0,4.0,1965.0,61101.0,7433.0,4.0,5.2,-8.0
1,310203103.0,310203.0,20050.0,31.0,83.0,83.0,13252.002930,NaN,1.0,0.0,...,1958.0,60901.0,8231.0,4.0,1961.0,80000.0,5132.0,4.0,5.2,-8.0
2,410285102.0,410285.0,20740.0,41.0,101.0,115.0,19956.939453,NaN,3.0,0.0,...,1948.0,NaN,NaN,4.0,1950.0,NaN,NaN,4.0,5.2,-8.0
3,311346101.0,311346.0,20330.0,31.0,91.0,98.0,2175.968994,NaN,1.0,0.0,...,1909.0,80000.0,NaN,4.0,1918.0,50101.0,6111.0,4.0,5.2,-8.0
4,411707101.0,411707.0,20960.0,41.0,106.0,120.0,16350.329102,44869.742188,3.0,1.0,...,1951.0,50101.0,6111.0,4.0,1949.0,50101.0,6111.0,4.0,5.2,-8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33593,621222102.0,621222.0,22530.0,62.0,146.0,160.0,7379.366699,NaN,4.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2,10684.0
33594,621690103.0,621690.0,22050.0,62.0,134.0,148.0,17320.832031,NaN,4.0,0.0,...,1953.0,50501.0,9312.0,1.0,1955.0,NaN,NaN,4.0,5.2,10684.0
33595,621218101.0,621218.0,22530.0,62.0,146.0,160.0,5430.092285,NaN,4.0,0.0,...,1947.0,50101.0,6111.0,4.0,1953.0,50101.0,6111.0,4.0,5.2,10684.0
33596,621210101.0,621210.0,22530.0,62.0,146.0,160.0,5617.117188,NaN,4.0,0.0,...,1955.0,50101.0,6111.0,4.0,1962.0,50101.0,6111.0,4.0,5.2,10684.0
33597,621209101.0,621209.0,22530.0,62.0,146.0,160.0,4066.570801,NaN,4.0,0.0,...,NaN,50101.0,6111.0,4.0,1927.0,50101.0,6111.0,4.0,5.2,10684.0

In [88]:
df2014adult = pd.read_stata(PATH+'data/ecfps2014adult_201906.dta',convert_categoricals=False)

In [89]:
df2016adult = pd.read_stata(PATH+'data/ecfps2016adult_201906.dta',convert_categoricals=False)

In [90]:
df2012adult = pd.read_stata(PATH+'data/ecfps2012adult_201906.dta',convert_categoricals=False)

In [91]:
#add 2018,2020 adult data
df2018adult = pd.read_stata(PATH+'czb_essay/data/ecfps2018person_202012.dta',convert_categoricals = False)


df2020adult = pd.read_stata(PATH+'czb_essay/data/cfps2020person_202112.dta',convert_categoricals = False)

In [50]:
dfadulttotal = pd.concat([df2010adult,df2012adult], ignore_index=False)
dfadulttotal

,pid,fid,cid,provcd,countyid,psu,rswt_nat,rswt_res,subpopulation,subsample,...,cageyog,nchd1,nchd2,nchd3,coremember,genetype,rswt_natcs12,rswt_rescs12,rswt_natpn1012,rswt_respn1012
0,411643103.0,411643.0,20950.0,41.0,106.0,120.0,24037.648438,86709.250000,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,310203103.0,310203.0,20050.0,31.0,83.0,83.0,13252.002930,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,410285102.0,410285.0,20740.0,41.0,101.0,115.0,19956.939453,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,311346101.0,311346.0,20330.0,31.0,91.0,98.0,2175.968994,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,411707101.0,411707.0,20960.0,41.0,106.0,120.0,16350.329102,44869.742188,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35714,420421104.0,NaN,103100.0,42.0,8.0,NaN,NaN,NaN,6.0,1.0,...,14.0,1.0,1.0,1.0,-8.0,1.0,182897.810775,75928.218134,108112.576175,82130.047594
35715,621290104.0,NaN,-9.0,65.0,3040.0,NaN,NaN,NaN,4.0,0.0,...,-8.0,0.0,0.0,0.0,-8.0,3.0,2121.487882,NaN,2303.826869,NaN
35716,210886431.0,NaN,231500.0,21.0,161.0,NaN,NaN,NaN,2.0,1.0,...,2.0,1.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN
35717,370737431.0,NaN,126000.0,37.0,64.0,NaN,NaN,NaN,6.0,1.0,...,-8.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
35718,620771101.0,NaN,223300.0,62.0,141.0,NaN,NaN,NaN,4.0,0.0,...,25.0,2.0,2.0,2.0,-8.0,1.0,2637.975467,NaN,2870.634002,NaN

In [92]:
dfinter1 = pd.merge(df2010adult,df2012adult,how='outer',on='pid',suffixes=('_2010','_2012'))
dfinter1

,pid,fid,cid_2010,provcd_2010,countyid_2010,psu,rswt_nat,rswt_res,subpopulation_2010,subsample_2010,...,pid_f_2012,pid_m_2012,coremember,genetype,rswt_natcs12,rswt_rescs12,rswt_natpn1012,rswt_respn1012,releaseversion_2012,interviewerid_2012
0,411643103.0,411643.0,20950.0,41.0,106.0,120.0,24037.648438,86709.250000,3.0,1.0,...,411643101.0,411643102.0,-8.0,1.0,13388.155642,157195.983448,13747.538924,128507.648696,6.1,10357.0
1,310203103.0,310203.0,20050.0,31.0,83.0,83.0,13252.002930,NaN,1.0,0.0,...,310203102.0,310203101.0,-8.0,1.0,20638.775628,NaN,23051.138032,NaN,6.1,11102.0
2,410285102.0,410285.0,20740.0,41.0,101.0,115.0,19956.939453,NaN,3.0,0.0,...,-8.0,410285101.0,-8.0,3.0,13298.704068,NaN,13739.807343,NaN,6.1,10858.0
3,311346101.0,311346.0,20330.0,31.0,91.0,98.0,2175.968994,NaN,1.0,0.0,...,-8.0,-8.0,-8.0,1.0,2136.153046,NaN,2385.837204,NaN,6.1,10623.0
4,411707101.0,411707.0,20960.0,41.0,106.0,120.0,16350.329102,44869.742188,3.0,1.0,...,-8.0,-8.0,-8.0,1.0,11932.337447,105004.290700,12286.790019,114844.999708,6.1,10357.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42919,410954104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.0,-8.0,-8.0,3.0,20941.351237,NaN,21393.563795,NaN,6.1,11402.0
42920,420421104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,420421101.0,420421102.0,-8.0,1.0,182897.810775,75928.218134,108112.576175,82130.047594,6.1,11402.0
42921,621290104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,621290103.0,621290106.0,-8.0,3.0,2121.487882,NaN,2303.826869,NaN,6.1,11402.0
42922,210886431.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.0,-8.0,1.0,0.0,NaN,NaN,NaN,NaN,6.1,-8.0
42923,370737431.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,370737102.0,370737103.0,1.0,0.0,NaN,NaN,NaN,NaN,6.1,-8.0

In [93]:
dfinter2 = pd.merge(dfinter1,df2014adult,how='outer',on='pid',suffixes=('_2012','_2014'))
dfinter2

,pid,fid,cid_2010,provcd_2010,countyid_2010,psu,rswt_nat,rswt_res,subpopulation_2010,subsample_2010,...,pgc103a,pg501,pz201,pz207,pz209,pz211,pz5,releaseversion,interviewerid_sf,interviewerid_pr
0,411643103.0,411643.0,20950.0,41.0,106.0,120.0,24037.648438,86709.250000,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,10836.0,-8.0
1,310203103.0,310203.0,20050.0,31.0,83.0,83.0,13252.002930,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,10603.0,-8.0
2,410285102.0,410285.0,20740.0,41.0,101.0,115.0,19956.939453,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,-8.0,-8.0
3,311346101.0,311346.0,20330.0,31.0,91.0,98.0,2175.968994,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,11221.0,-8.0
4,411707101.0,411707.0,20960.0,41.0,106.0,120.0,16350.329102,44869.742188,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,10862.0,-8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47671,130132104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,11033.0,-8.0
47672,330072104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,10983.0,-8.0
47673,430251103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,10265.0,-8.0
47674,620226102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.0,-8.0,6.0,6.0,4.0,6.0,2.0,2.2,-8.0,-8.0
47675,621028103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.2,-8.0,-8.0

In [94]:
dfinter3 = pd.merge(dfinter2,df2016adult,how='outer',on='pid',suffixes=('_2014','_2016'))
dfinter3

,pid,fid,cid_2010,provcd_2010,countyid_2010,psu,rswt_nat,rswt_res,subpopulation_2010,subsample_2010,...,pz211_2016,pz5_2016,cesd20sc,incomeb_imp,cfps2016edu,cfps2016sch,cfps2016eduy,cfps2016eduy_im,releaseversion_2016,interviewerid
0,411643103.0,411643.0,20950.0,41.0,106.0,120.0,24037.648438,86709.250000,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,310203103.0,310203.0,20050.0,31.0,83.0,83.0,13252.002930,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,410285102.0,410285.0,20740.0,41.0,101.0,115.0,19956.939453,NaN,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,311346101.0,311346.0,20330.0,31.0,91.0,98.0,2175.968994,NaN,1.0,0.0,...,NaN,NaN,30.0,-8.0,3.0,3.0,9.0,9.0,2.2,11119.0
4,411707101.0,411707.0,20960.0,41.0,106.0,120.0,16350.329102,44869.742188,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50994,621149581.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,1.0,-8.0,-8.0,2.0,NaN,NaN,NaN,2.2,11270.0
50995,621161105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.0,-8.0,3.0,4.0,10.0,10.0,2.2,11270.0
50996,621323107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,40.0,-8.0,3.0,4.0,10.0,10.0,2.2,11270.0
50997,621310105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,34.0,-8.0,NaN,NaN,NaN,NaN,2.2,11270.0
50998,621313106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.0,1.0,-8.0,-8.0,NaN,NaN,NaN,NaN,2.2,11270.0

In [95]:
dfinter4 = pd.merge(dfinter3,df2018adult,how='outer',on='pid',suffixes=('_2016','_2018'))

In [96]:
dfinter5 = pd.merge(dfinter4,df2020adult,how='outer',on='pid',suffixes=('_2018','_2020'))

In [97]:
dfinter5

,pid,fid,cid_2010,provcd_2010,countyid_2010,psu_2016,rswt_nat,rswt_res,subpopulation_2010,subsample_2010,...,qqz204,qz207,qz5_2020,respc1pid_2020,pg02,cfps2020edu,cfps2020sch,cfps2020eduy,cfps2020eduy_im,releaseversion_2020
0,4.116431e+08,411643.0,20950.0,41.0,106.0,120.0,24037.648438,86709.250000,3.0,1.0,...,-8.0,6.0,1.0,NaN,NaN,5.0,5.0,15.0,15.0,1.0
1,3.102031e+08,310203.0,20050.0,31.0,83.0,83.0,13252.002930,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.102851e+08,410285.0,20740.0,41.0,101.0,115.0,19956.939453,NaN,3.0,0.0,...,-8.0,-8.0,-8.0,NaN,NaN,2.0,2.0,6.0,6.0,1.0
3,3.113461e+08,311346.0,20330.0,31.0,91.0,98.0,2175.968994,NaN,1.0,0.0,...,7.0,7.0,6.0,NaN,NaN,3.0,3.0,9.0,9.0,1.0
4,4.117071e+08,411707.0,20960.0,41.0,106.0,120.0,16350.329102,44869.742188,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57971,9.158054e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,1.0,NaN,NaN,1.0,2.0,3.0,3.0,1.0
57972,9.623774e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.0,5.0,2.0,NaN,NaN,1.0,2.0,3.0,3.0,1.0
57973,9.685624e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.0,4.0,1.0,NaN,NaN,1.0,2.0,4.0,4.0,1.0
57974,2.844272e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,420385104.0,0.0,4.0,-9.0,-9.0,-9.0,1.0
57975,6.694542e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-8.0,4.0,2.0,NaN,NaN,4.0,4.0,12.0,12.0,1.0

In [98]:
dfinter5.to_csv(PATH+"adult_all.csv",index=False)

KeyboardInterrupt:

In [100]:
for i in dfinter5.columns:
    if 'eduy' in i:
        print(i)

seduy
cfps2010eduy_best
eduy2012
cfps2014eduy
cfps2014eduy_im
cfps2016eduy
cfps2016eduy_im
cfps2018eduy
cfps2018eduy_im
cfps2020eduy
cfps2020eduy_im

In [102]:
dfinter5[['seduy','cfps2010eduy_best', 'eduy2012']].describe()

              seduy  cfps2010eduy_best      eduy2012
count  26743.000000        33598.00000  35676.000000
mean       6.135119            7.00256      6.722110
std        4.809656            4.77256      4.898536
min        0.000000           -1.00000      0.000000
25%        0.000000            3.00000      0.000000
50%        6.000000            9.00000      9.000000
75%        9.000000            9.00000      9.000000
max       22.000000           22.00000     22.000000

In [106]:
df_urban_eduy = dfinter5[['pid', 'urban', 'urban12', 'urban14', 'urban16','urban18', 'urban20',
                    'cfps2010eduy_best', 'eduy2012', 'cfps2014eduy_im', 'cfps2016eduy_im', 'cfps2018eduy_im',
                    'cfps2020eduy_im'
                   ]]

In [157]:
def find_nonan(x):
    lx = list(x.dropna())
    if len(lx)>0:
        return lx[0]
    else:
        return None
    
def find_latest(x):
    l = list(x.dropna())
    if len(l)>0:
        return l[-1]
    else:
        return None

df_urban_eduy['urban'] = df_urban_eduy[['urban', 'urban12', 'urban14', 'urban16','urban18', 'urban20']].apply(lambda x:find_nonan(x),axis=1)

/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [108]:
df_urban_eduy['edu_year'] = df_urban_eduy[['cfps2010eduy_best', 'eduy2012', 'cfps2014eduy_im', 'cfps2016eduy_im', 'cfps2018eduy_im',
                    'cfps2020eduy_im']].apply(lambda x:find_latest(x),axis=1)

/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [158]:
df_urban_eduy

,pid,urban,urban12,urban14,urban16,urban18,urban20,cfps2010eduy_best,eduy2012,cfps2014eduy_im,cfps2016eduy_im,cfps2018eduy_im,cfps2020eduy_im,edu_year
0,4.116431e+08,1.0,1.0,1.0,NaN,1.0,1.0,15.0,15.0,15.0,NaN,15.0,15.0,15.0
1,3.102031e+08,1.0,1.0,1.0,NaN,NaN,NaN,16.0,16.0,16.0,NaN,NaN,NaN,16.0
2,4.102851e+08,0.0,0.0,0.0,NaN,0.0,0.0,6.0,6.0,6.0,NaN,6.0,6.0,6.0
3,3.113461e+08,1.0,1.0,1.0,1.0,1.0,1.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
4,4.117071e+08,1.0,1.0,1.0,NaN,NaN,NaN,16.0,16.0,16.0,NaN,NaN,NaN,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57971,9.158054e+08,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0
57972,9.623774e+08,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0
57973,9.685624e+08,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0
57974,2.844272e+09,-9.0,NaN,NaN,NaN,NaN,-9.0,NaN,NaN,NaN,NaN,NaN,-9.0,-9.0
57975,6.694542e+09,-9.0,NaN,NaN,NaN,NaN,-9.0,NaN,NaN,NaN,NaN,NaN,12.0,12.0

In [160]:
dfadult_use = df_urban_eduy[['pid', 'urban', 'edu_year']]

In [161]:
dfadult_use

                pid  urban  edu_year
0      4.116431e+08    1.0      15.0
1      3.102031e+08    1.0      16.0
2      4.102851e+08    0.0       6.0
3      3.113461e+08    1.0       9.0
4      4.117071e+08    1.0      16.0
...             ...    ...       ...
57971  9.158054e+08    1.0       3.0
57972  9.623774e+08    0.0       3.0
57973  9.685624e+08    1.0       4.0
57974  2.844272e+09   -9.0      -9.0
57975  6.694542e+09   -9.0      12.0

[57976 rows x 3 columns]

In [162]:
dfadult_use.to_csv(PATH+'adult_urban_eduy.csv', index=False)

In [123]:
df2010# = pandas.read_stata('data/cfps2010famconf_202008.dta',convert_categoricals = False)

,pid,fid,cid,provcd,countyid,psu,subpopulation,subsample,code_a_p,tb2_a_p,...,feduc,foccupcode,foccupisco,fparty,mbirthy,meduc,moccupcode,moccupisco,mparty,releaseversion
0,110001101.0,110001.0,11830.0,11.0,45.0,45.0,6.0,1.0,101.0,1.0,...,NaN,NaN,NaN,NaN,1938.0,3.0,NaN,NaN,NaN,5.1
1,110001102.0,110001.0,11830.0,11.0,45.0,45.0,6.0,1.0,102.0,0.0,...,NaN,NaN,NaN,NaN,1934.0,NaN,NaN,NaN,NaN,5.1
2,110002101.0,110002.0,11830.0,11.0,45.0,45.0,6.0,1.0,101.0,1.0,...,1.0,90000.0,NaN,4.0,1929.0,1.0,90000.0,NaN,4.0,5.1
3,110002102.0,110002.0,11830.0,11.0,45.0,45.0,6.0,1.0,102.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
4,110002103.0,110002.0,11830.0,11.0,45.0,45.0,6.0,1.0,103.0,0.0,...,4.0,NaN,NaN,4.0,1969.0,6.0,10303.0,1143.0,4.0,5.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57147,621870106.0,621870.0,21990.0,62.0,132.0,146.0,4.0,0.0,106.0,0.0,...,3.0,40202.0,4133.0,4.0,1981.0,3.0,40202.0,4133.0,4.0,5.1
57148,621872101.0,621872.0,21990.0,62.0,132.0,146.0,4.0,0.0,101.0,1.0,...,1.0,50101.0,6111.0,4.0,1938.0,1.0,50101.0,6111.0,4.0,5.1
57149,621872102.0,621872.0,21990.0,62.0,132.0,146.0,4.0,0.0,102.0,0.0,...,1.0,50101.0,6111.0,4.0,1938.0,1.0,50101.0,6111.0,4.0,5.1
57150,621872103.0,621872.0,21990.0,62.0,132.0,146.0,4.0,0.0,103.0,0.0,...,2.0,50101.0,6111.0,4.0,1970.0,1.0,50101.0,6111.0,4.0,5.1
57151,621872104.0,621872.0,21990.0,62.0,132.0,146.0,4.0,0.0,104.0,0.0,...,2.0,50101.0,6111.0,4.0,1970.0,1.0,50101.0,6111.0,4.0,5.1

In [88]:
df2012

,pid,fid12,fid10,code_a_p,cfps_interv_p,tb1a_a_p,tb1b_a_p,tb1y_a_p,tb1m_a_p,tb2_a_p,...,familysize,tf10pid,subpopulation,subsample,fbirth12,mbirth12,feduc12,meduc12,generation,releaseversion
0,100453401.0,100453.0,Not applicable,401.0,Had valid adult or child questionnaire in CFPS...,Not applicable,0.0,2012.0,1.0,Female,...,3.0,430111103.0,other province subpopulation,Yes,1981.0,1981.0,Not applicable,4-year college/Bachelor's degree,two generations family,6.0
1,100453401.0,430111.0,Not applicable,401.0,No valid adult or child questionnaire ever,Not applicable,Not applicable,2012.0,Not applicable,Female,...,2.0,430111101.0,other province subpopulation,Yes,Not applicable,1981.0,Not applicable,4-year college/Bachelor's degree,one generation family,6.0
2,100453431.0,100453.0,Not applicable,431.0,No valid adult or child questionnaire ever,Not applicable,31.0,1981.0,11.0,Male,...,3.0,430111103.0,other province subpopulation,Yes,Not applicable,Not applicable,Not applicable,Not applicable,two generations family,6.0
3,105179431.0,105179.0,Not applicable,431.0,No valid adult or child questionnaire ever,Not applicable,48.0,1964.0,1.0,Male,...,4.0,105179431.0,gansu subpopulation,No,Not applicable,Not applicable,Not applicable,Not applicable,two generations family,6.0
4,105179432.0,105179.0,Not applicable,432.0,No valid adult or child questionnaire ever,Not applicable,47.0,1965.0,11.0,Female,...,4.0,105179431.0,gansu subpopulation,No,Not applicable,Not applicable,Not applicable,Not applicable,two generations family,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55007,995587431.0,995587.0,Not applicable,431.0,No valid adult or child questionnaire ever,Not applicable,Not applicable,1971.0,7.0,Female,...,4.0,621161106.0,gansu subpopulation,No,Not applicable,Not applicable,Not applicable,Not applicable,two generations family,6.0
55008,995587432.0,995587.0,Not applicable,432.0,Had valid adult or child questionnaire in CFPS...,Not applicable,14.0,1998.0,4.0,Male,...,4.0,621161106.0,gansu subpopulation,No,1971.0,1971.0,3-year college,Senior high school/secondary school/technical ...,two generations family,6.0
55009,997150431.0,997150.0,Not applicable,431.0,Had valid adult or child questionnaire in CFPS...,Not applicable,26.0,1986.0,4.0,Male,...,4.0,140481102.0,other province subpopulation,Yes,Not applicable,Not applicable,Primary school,Primary school,two generations family,6.0
55010,997150432.0,997150.0,Not applicable,432.0,Had valid adult or child questionnaire in CFPS...,Not applicable,3.0,2009.0,1.0,Female,...,4.0,140481102.0,other province subpopulation,Yes,1986.0,1986.0,Junior high school,Junior high school,two generations family,6.0
55011,997150433.0,997150.0,Not applicable,433.0,Had valid adult or child questionnaire in CFPS...,Not applicable,0.0,2012.0,8.0,Female,...,4.0,140481102.0,other province subpopulation,Yes,1986.0,1986.0,Junior high school,Junior high school,two generations family,6.0

In [91]:
df2016

,fid16,fid14,fid12,fid10,fid_provcd16,fid_countyid16,fid_urban16,pid,code_a_p,co_a16_p,...,familysize16,sresppid,kz1pid,kz101pid,cyear,cmonth,iwmode,subpopulation,subsample,releaseversion
0,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,501.0,Yes,...,3.0,100051502.0,100051502.0,None of above,2016.0,9.0,CATI,Other province subpopulation,Yes,1.0
1,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,502.0,Yes,...,3.0,100051502.0,100051502.0,None of above,2016.0,9.0,CATI,Other province subpopulation,Yes,1.0
2,100376.0,Not applicable,Not applicable,Not applicable,Hebei,235.0,Urban,1.003766e+08,551.0,Yes,...,2.0,130094103.0,130094103.0,None of above,2016.0,12.0,CATI,Other province subpopulation,Yes,1.0
3,100435.0,Not applicable,Not applicable,Not applicable,Hebei,52.0,Rural,1.004356e+08,552.0,Yes,...,4.0,130155103.0,130155103.0,None of above,2016.0,8.0,CATI,Other province subpopulation,Yes,1.0
4,100453.0,100453.0,100453.0,Not applicable,Hunan,29.0,Urban,1.004534e+08,401.0,Yes,...,6.0,430111101.0,430111101.0,None of above,2016.0,12.0,CAPI,Other province subpopulation,Yes,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58174,2844481.0,Not applicable,Not applicable,Not applicable,Guangdong,2057.0,Rural,2.844482e+09,555.0,No,...,3.0,430560105.0,430560105.0,None of above,2017.0,4.0,CATI,Other province subpopulation,Yes,1.0
58175,2845312.0,Not applicable,Not applicable,Not applicable,Guizhou,24.0,Urban,2.845313e+09,551.0,No,...,1.0,520423106.0,520423106.0,None of above,2017.0,4.0,CATI,Other province subpopulation,Yes,1.0
58176,2845312.0,Not applicable,Not applicable,Not applicable,Guizhou,24.0,Urban,2.845313e+09,552.0,No,...,1.0,520423106.0,520423106.0,None of above,2017.0,4.0,CATI,Other province subpopulation,Yes,1.0
58177,2845312.0,Not applicable,Not applicable,Not applicable,Guizhou,24.0,Urban,2.845313e+09,553.0,No,...,1.0,520423106.0,520423106.0,None of above,2017.0,4.0,CATI,Other province subpopulation,Yes,1.0
58178,2845312.0,Not applicable,Not applicable,Not applicable,Guizhou,24.0,Urban,2.845313e+09,554.0,No,...,1.0,520423106.0,520423106.0,None of above,2017.0,4.0,CATI,Other province subpopulation,Yes,1.0

In [93]:
df2014

,fid14,fid12,fid10,provcd14,countyid14,cid14,urban14,pid,code_a_p,tb2_a_p,...,subpopulation10,subsample14,sresp_pid,kz1pid,kz101pid_1,kz101pid_2,cyear,cmonth,kz103,releaseversion
0,100051.0,Not applicable,Not applicable,Beijing,45.0,624942.0,Urban,1.000515e+08,501.0,Female,...,other province subpopulation,Yes,110043107.0,110043107.0,No Other Respondent,Not Applicable,2014.0,8.0,Mandarin Chinese,2.0
1,100051.0,Not applicable,Not applicable,Beijing,45.0,624942.0,Urban,1.000515e+08,502.0,Male,...,other province subpopulation,Yes,110043107.0,110043107.0,No Other Respondent,Not Applicable,2014.0,8.0,Mandarin Chinese,2.0
2,100051.0,110043.0,110043.0,Beijing,45.0,624942.0,Urban,1.100431e+08,107.0,Male,...,other province subpopulation,Yes,110043107.0,110043107.0,No Other Respondent,Not Applicable,2014.0,8.0,Mandarin Chinese,2.0
3,100125.0,110147.0,110147.0,Beijing,170.0,564346.0,Urban,1.101471e+08,102.0,Female,...,other province subpopulation,Yes,110147102.0,110147102.0,No Other Respondent,Not Applicable,2014.0,7.0,Mandarin Chinese,2.0
4,100160.0,120009.0,120009.0,Tianjin,79.0,131700.0,Urban,1.200091e+08,102.0,Female,...,other province subpopulation,Yes,120009102.0,120009102.0,No Other Respondent,Not Applicable,2014.0,7.0,Chinese dialect,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57729,2702641.0,440413.0,440413.0,Guangdong,117.0,214000.0,Rural,4.404131e+08,104.0,Female,...,guangdong subpopulation,No,440413104.0,440413104.0,No Other Respondent,Not Applicable,2015.0,1.0,Mandarin Chinese,2.0
57730,2702641.0,440413.0,440413.0,Guangdong,117.0,214000.0,Rural,4.404131e+08,105.0,Female,...,guangdong subpopulation,No,440413104.0,440413104.0,No Other Respondent,Not Applicable,2015.0,1.0,Mandarin Chinese,2.0
57731,2702641.0,440413.0,440413.0,Guangdong,117.0,214000.0,Rural,4.404131e+08,106.0,Male,...,guangdong subpopulation,No,440413104.0,440413104.0,No Other Respondent,Not Applicable,2015.0,1.0,Mandarin Chinese,2.0
57732,2781941.0,130649.0,130649.0,Hebei,363.0,585238.0,Urban,1.306491e+08,105.0,Male,...,other province subpopulation,Yes,130649105.0,130649105.0,No Other Respondent,Not Applicable,2014.0,10.0,Chinese dialect,2.0
57733,2781941.0,Not applicable,Not applicable,Hebei,363.0,585238.0,Urban,2.781942e+09,501.0,Missing,...,other province subpopulation,Yes,130649105.0,130649105.0,No Other Respondent,Not Applicable,2014.0,10.0,Chinese dialect,2.0

In [124]:
dfinter_1 = pd.concat([df2016,df2014],ignore_index=True).drop_duplicates(subset=['pid'],keep='first',ignore_index=True)
dfinter_1

,fid16,fid14,fid12,fid10,fid_provcd16,fid_countyid16,fid_urban16,pid,code_a_p,co_a16_p,...,tf204pid,tf205pid,generation14,subsample10,subpopulation10,subsample14,sresp_pid,kz101pid_1,kz101pid_2,kz103
0,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,501.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,502.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100376.0,Not applicable,Not applicable,Not applicable,Hebei,235.0,Urban,1.003766e+08,551.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100435.0,Not applicable,Not applicable,Not applicable,Hebei,52.0,Rural,1.004356e+08,552.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100453.0,100453.0,100453.0,Not applicable,Hunan,29.0,Urban,1.004534e+08,401.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63729,NaN,1715282.0,Not applicable,Not applicable,NaN,NaN,NaN,1.715283e+09,501.0,NaN,...,440287104.0,1715282501.0,two generations family,No,guangdong subpopulation,No,440287104.0,1715282501.0,Not Applicable,Chinese dialect
63730,NaN,1715282.0,Not applicable,Not applicable,NaN,NaN,NaN,1.715283e+09,502.0,NaN,...,440287104.0,1715282501.0,two generations family,No,guangdong subpopulation,No,440287104.0,1715282501.0,Not Applicable,Chinese dialect
63731,NaN,1715282.0,Not applicable,Not applicable,NaN,NaN,NaN,1.715283e+09,503.0,NaN,...,440287104.0,1715282501.0,two generations family,No,guangdong subpopulation,No,440287104.0,1715282501.0,Not Applicable,Chinese dialect
63732,NaN,2591481.0,130861.0,130861.0,NaN,NaN,NaN,1.308611e+08,103.0,NaN,...,130861103.0,130861103.0,one generation family,Yes,other province subpopulation,Yes,130861103.0,No Other Respondent,Not Applicable,Mandarin Chinese
63733,NaN,2781941.0,Not applicable,Not applicable,NaN,NaN,NaN,2.781942e+09,501.0,NaN,...,130649105.0,130649105.0,one generation family,Yes,other province subpopulation,Yes,130649105.0,No Other Respondent,Not Applicable,Chinese dialect

In [125]:
dfinter_2 = pd.concat([dfinter_1,df2012],ignore_index=True).drop_duplicates(subset=['pid'],keep='first',ignore_index=True)
dfinter_2

,fid16,fid14,fid12,fid10,fid_provcd16,fid_countyid16,fid_urban16,pid,code_a_p,co_a16_p,...,coremember,gene_n,core_n,familysize,tf10pid,fbirth12,mbirth12,feduc12,meduc12,generation
0,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,100051501.0,501.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,100051502.0,502.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100376.0,Not applicable,Not applicable,Not applicable,Hebei,235.0,Urban,100376551.0,551.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100435.0,Not applicable,Not applicable,Not applicable,Hebei,52.0,Rural,100435552.0,552.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100453.0,100453.0,100453.0,Not applicable,Hunan,29.0,Urban,100453401.0,401.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66810,NaN,NaN,977692.0,Not applicable,NaN,NaN,NaN,977692401.0,401.0,NaN,...,Not applicable,3.0,1.0,4.0,non-family member or collective family decision,Not applicable,1987.0,Not applicable,Junior high school,two generations family
66811,NaN,NaN,977692.0,Not applicable,NaN,NaN,NaN,977692402.0,402.0,NaN,...,Not applicable,3.0,1.0,4.0,non-family member or collective family decision,Not applicable,1987.0,Not applicable,Junior high school,two generations family
66812,NaN,NaN,977692.0,Not applicable,NaN,NaN,NaN,977692431.0,431.0,NaN,...,CFPS core member,3.0,1.0,4.0,non-family member or collective family decision,Not applicable,Not applicable,Not applicable,Not applicable,two generations family
66813,NaN,NaN,991053.0,Not applicable,NaN,NaN,NaN,991053431.0,431.0,NaN,...,CFPS core member,1.0,2.0,3.0,991053431.0,1954.0,1958.0,Illiterate/Semi-literate,Illiterate/Semi-literate,two generations family
66814,NaN,NaN,991053.0,Not applicable,NaN,NaN,NaN,991053432.0,432.0,NaN,...,CFPS core member,1.0,2.0,3.0,991053431.0,Not applicable,Not applicable,Not applicable,Not applicable,two generations family

In [126]:
dfinter_3 = pd.concat([dfinter_2,df2010],ignore_index=True).drop_duplicates(subset=['pid'],keep='first',ignore_index=True)
dfinter_3

,fid16,fid14,fid12,fid10,fid_provcd16,fid_countyid16,fid_urban16,pid,code_a_p,co_a16_p,...,fbirthy,feduc,foccupcode,foccupisco,fparty,mbirthy,meduc,moccupcode,moccupisco,mparty
0,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,100051501.0,501.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,100051502.0,502.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100376.0,Not applicable,Not applicable,Not applicable,Hebei,235.0,Urban,100376551.0,551.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100435.0,Not applicable,Not applicable,Not applicable,Hebei,52.0,Rural,100435552.0,552.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100453.0,100453.0,100453.0,Not applicable,Hunan,29.0,Urban,100453401.0,401.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621821102.0,102.0,NaN,...,1946.0,2.0,NaN,NaN,NaN,1950.0,2.0,NaN,NaN,NaN
70275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621821103.0,103.0,NaN,...,1972.0,3.0,90000.0,NaN,4.0,1972.0,3.0,NaN,NaN,4.0
70276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621826101.0,101.0,NaN,...,1950.0,1.0,NaN,NaN,NaN,1952.0,1.0,NaN,NaN,NaN
70277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621826102.0,102.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,621826103.0,103.0,NaN,...,1971.0,4.0,90000.0,NaN,4.0,1976.0,2.0,NaN,NaN,4.0

In [127]:
dfinter_4 = pd.concat([dfinter_3,df2018],ignore_index=True).drop_duplicates(subset=['pid'],keep='first',ignore_index=True)
dfinter_5 = pd.concat([dfinter_4,df2020],ignore_index=True).drop_duplicates(subset=['pid'],keep='first',ignore_index=True)
dfinter_5

,fid16,fid14,fid12,fid10,fid_provcd16,fid_countyid16,fid_urban16,pid,code_a_p,co_a16_p,...,kz103_20,interrupt,cyear20,cmonth20,iwmode20,kz1pid20,sresppid20,interviewerid20,genetype20,familysize20
0,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,501.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,502.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100376.0,Not applicable,Not applicable,Not applicable,Hebei,235.0,Urban,1.003766e+08,551.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100435.0,Not applicable,Not applicable,Not applicable,Hebei,52.0,Rural,1.004356e+08,552.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100453.0,100453.0,100453.0,Not applicable,Hunan,29.0,Urban,1.004534e+08,401.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77076,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,3.203032e+08,209.0,NaN,...,1.0,0.0,2020.0,7.0,2.0,320303103.0,320303103.0,373375.0,0.0,3.0
77077,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.694542e+09,651.0,NaN,...,1.0,0.0,2020.0,7.0,2.0,211229105.0,211229105.0,817084.0,0.0,3.0
77078,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.694542e+09,652.0,NaN,...,1.0,0.0,2020.0,7.0,2.0,211229105.0,211229105.0,817084.0,1.0,3.0
77079,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.759192e+09,651.0,NaN,...,1.0,0.0,2020.0,10.0,2.0,410650111.0,410650111.0,964048.0,1.0,3.0
77080,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.770892e+09,651.0,NaN,...,1.0,0.0,2020.0,11.0,2.0,77.0,77.0,931885.0,0.0,2.0

In [128]:
dfinter_5.to_csv(PATH+'df_merged.csv',index=False)

In [163]:
adult_df = pd.read_csv(PATH+"adult_urban_eduy.csv")

In [130]:
adult_df = pd.read_csv(PATH+"adult_urban_eduy.csv")
total_df = pd.read_csv(PATH+"df_merged.csv")

/Library/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1,2,3,4,5,6,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,269,270,271,272,273,274,275,277,278,279,282,283,284,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,380,381,382,383,384,385,386,387,388,389,390,391,392,394,395,396,397,398,399,400,401,402,403,404,405,406,408,409,410,411,412,413,414,415,416,417,418,419,420,422,423,424,425,426,427,428,429,430,431,432,433,434,436,437,438,439,440,441,442,443,444,445,446,447,448,450,451,452,453,454,455,456,457,458,459,460,461,462,464,465,466,467,468,469,470,471,472,473,474,475,476,478,479,480,481,482,483,484,485,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,718,719,720,721,722,723,724,725,726,727,728,729,733,734,738,739,740,741,742,743,1035,1050,1264) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [131]:
total_df

,fid16,fid14,fid12,fid10,fid_provcd16,fid_countyid16,fid_urban16,pid,code_a_p,co_a16_p,...,kz103_20,interrupt,cyear20,cmonth20,iwmode20,kz1pid20,sresppid20,interviewerid20,genetype20,familysize20
0,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,501.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100051.0,100051.0,Not applicable,Not applicable,Beijing,45.0,Urban,1.000515e+08,502.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100376.0,Not applicable,Not applicable,Not applicable,Hebei,235.0,Urban,1.003766e+08,551.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100435.0,Not applicable,Not applicable,Not applicable,Hebei,52.0,Rural,1.004356e+08,552.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100453.0,100453.0,100453.0,Not applicable,Hunan,29.0,Urban,1.004534e+08,401.0,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77076,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,3.203032e+08,209.0,NaN,...,1.0,0.0,2020.0,7.0,2.0,320303103.0,320303103.0,373375.0,0.0,3.0
77077,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.694542e+09,651.0,NaN,...,1.0,0.0,2020.0,7.0,2.0,211229105.0,211229105.0,817084.0,0.0,3.0
77078,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.694542e+09,652.0,NaN,...,1.0,0.0,2020.0,7.0,2.0,211229105.0,211229105.0,817084.0,1.0,3.0
77079,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.759192e+09,651.0,NaN,...,1.0,0.0,2020.0,10.0,2.0,410650111.0,410650111.0,964048.0,1.0,3.0
77080,-8.0,-8.0,-8.0,-8.0,NaN,NaN,NaN,6.770892e+09,651.0,NaN,...,1.0,0.0,2020.0,11.0,2.0,77.0,77.0,931885.0,0.0,2.0

In [164]:
adult_df

                pid  urban  edu_year
0      4.116431e+08    1.0      15.0
1      3.102031e+08    1.0      16.0
2      4.102851e+08    0.0       6.0
3      3.113461e+08    1.0       9.0
4      4.117071e+08    1.0      16.0
...             ...    ...       ...
57971  9.158054e+08    1.0       3.0
57972  9.623774e+08    0.0       3.0
57973  9.685624e+08    1.0       4.0
57974  2.844272e+09   -9.0      -9.0
57975  6.694542e+09   -9.0      12.0

[57976 rows x 3 columns]

In [150]:
target_col = ['pid','tb2_a_p','tb1y_a_p','familysize','familysize14','familysize16', 'familysize18', 'familysize20',
              'tb2_a_c1','tb2_a_c2','tb2_a_c3','tb2_a_c4','tb2_a_c5',
              'tb2_a_c6','tb2_a_c7','tb2_a_c8','tb2_a_c9','tb2_a_c10',
              'tb4_a20_p','tb5_siops_a_p','tb4_a20_f','tb4_a20_m','tb4_a20_s',
              'tb4_a20_c1','tb4_a20_c2','tb4_a20_c3','tb4_a20_c4','tb4_a20_c5',
              'tb4_a20_c6','tb4_a20_c7','tb4_a20_c8','tb4_a20_c9','tb4_a20_c10',
              'fid'] 
# id，性别，出生年份，2016 g2 familysize（合并），第n个孩子性别，g2最高学历, g2职业得分，g2父亲/母亲最高学历,g2配偶教育, 孩子教育

In [151]:
new_target_col = ['pid','tb2_a_p','tb1y_a_p',
                  'familysize','familysize14','familysize16', 'familysize18', 'familysize20',
              
                  'tb4_a_p','tb4_a12_p','tb4_a14_p','tb4_a16_p','tb4_a18_p','tb4_a20_p',
                  'tb4_a_f','tb4_a12_f','tb4_a14_f','tb4_a16_f','tb4_a18_f','tb4_a20_f',
                  'tb4_a_m','tb4_a12_m','tb4_a14_m','tb4_a16_m','tb4_a18_m','tb4_a20_m'
              
              ] 
# id，性别，出生年份，2016 g2 familysize（合并），第n个孩子性别，g2最高学历, g2职业得分，g2父亲/母亲最高学历,g2配偶教育, 孩子教育

In [152]:
selected_df = total_df[target_col]
selected_df

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb2_a_c1,tb2_a_c2,...,tb4_a20_c2,tb4_a20_c3,tb4_a20_c4,tb4_a20_c5,tb4_a20_c6,tb4_a20_c7,tb4_a20_c8,tb4_a20_c9,tb4_a20_c10,fid
0,1.000515e+08,Female,1969.0,NaN,NaN,3.0,NaN,NaN,Male,Not applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.000515e+08,Male,1966.0,NaN,NaN,3.0,NaN,NaN,Male,Not applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.003766e+08,Female,1997.0,NaN,NaN,2.0,NaN,NaN,Not applicable,Not applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.004356e+08,Female,2016.0,NaN,NaN,4.0,NaN,NaN,Not applicable,Not applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.004534e+08,Female,2012.0,NaN,NaN,6.0,NaN,NaN,Not applicable,Not applicable,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77076,3.203032e+08,0.0,1972.0,NaN,NaN,NaN,NaN,3.0,0.0,-8.0,...,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,NaN
77077,6.694542e+09,1.0,1996.0,NaN,NaN,NaN,NaN,3.0,0.0,-8.0,...,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,NaN
77078,6.694542e+09,0.0,2020.0,NaN,NaN,NaN,NaN,3.0,-8.0,-8.0,...,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,NaN
77079,6.759192e+09,0.0,2018.0,NaN,NaN,NaN,NaN,3.0,-8.0,-8.0,...,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,NaN
77080,6.770892e+09,0.0,1992.0,NaN,NaN,NaN,NaN,2.0,-8.0,-8.0,...,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,NaN

In [153]:
selected_df2 = total_df[new_target_col]
selected_df2

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a14_f,tb4_a16_f,tb4_a18_f,tb4_a20_f,tb4_a_m,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m
0,1.000515e+08,Female,1969.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,Primary school,NaN,NaN,NaN,NaN,NaN,Illiterate/Semi-literate,NaN,NaN
1,1.000515e+08,Male,1966.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN
2,1.003766e+08,Female,1997.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN
3,1.004356e+08,Female,2016.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,Junior high school,NaN,NaN,NaN,NaN,NaN,Senior high school/secondary school/technical ...,NaN,NaN
4,1.004534e+08,Female,2012.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,4-year college,NaN,NaN,NaN,NaN,NaN,4-year college,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77076,3.203032e+08,0.0,1972.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0
77077,6.694542e+09,1.0,1996.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0
77078,6.694542e+09,0.0,2020.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0
77079,6.759192e+09,0.0,2018.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5.0
77080,6.770892e+09,0.0,1992.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0

In [165]:
selected_df2.describe()

,pid,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a18_p,tb4_a20_p,tb4_a_f,tb4_a18_f,tb4_a20_f,tb4_a_m,tb4_a18_m,tb4_a20_m
count,7.708100e+04,6545.000000,5555.000000,58179.000000,3851.000000,2951.000000,3464.000000,3851.000000,2951.000000,3464.000000,3851.000000,2951.000000,3464.000000,3851.000000,2951.000000
mean,3.941840e+08,3.795416,3.893969,4.524038,4.906258,4.941037,1.495381,1.801870,1.704846,-2.006928,-2.035835,-1.965097,-1.601328,-1.659829,-1.736022
std,1.843741e+08,1.747556,1.976298,2.111657,2.211491,2.125530,4.275521,1.843897,2.647795,5.494697,5.800113,5.920759,5.163804,5.753246,5.889760
min,1.000515e+08,1.000000,1.000000,1.000000,1.000000,1.000000,-8.000000,-9.000000,-9.000000,-8.000000,-9.000000,-9.000000,-8.000000,-9.000000,-9.000000
25%,3.100441e+08,3.000000,3.000000,3.000000,3.000000,3.000000,1.000000,1.000000,1.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000,-8.000000
50%,4.110461e+08,4.000000,4.000000,4.000000,5.000000,5.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,5.103991e+08,5.000000,5.000000,6.000000,6.000000,6.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,4.000000
max,6.770892e+09,15.000000,17.000000,19.000000,21.000000,15.000000,8.000000,8.000000,7.000000,8.000000,8.000000,8.000000,8.000000,7.000000,7.000000

In [166]:
adult_df.describe()

                pid         urban      edu_year
count  5.797600e+04  54791.000000  56406.000000
mean   3.913163e+08      0.183589      7.032585
std    1.552298e+08      1.606034      5.993271
min    1.000515e+08     -9.000000     -9.000000
25%    3.104791e+08      0.000000      4.000000
50%    4.109971e+08      0.000000      9.000000
75%    5.103731e+08      1.000000     12.000000
max    6.694542e+09      1.000000     24.000000

In [168]:
adult_df

                pid  urban  edu_year
0      4.116431e+08    1.0      15.0
1      3.102031e+08    1.0      16.0
2      4.102851e+08    0.0       6.0
3      3.113461e+08    1.0       9.0
4      4.117071e+08    1.0      16.0
...             ...    ...       ...
57971  9.158054e+08    1.0       3.0
57972  9.623774e+08    0.0       3.0
57973  9.685624e+08    1.0       4.0
57974  2.844272e+09   -9.0      -9.0
57975  6.694542e+09   -9.0      12.0

[57976 rows x 3 columns]

In [77]:
selected_df2

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a14_f,tb4_a16_f,tb4_a18_f,tb4_a20_f,tb4_a_m,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m
0,1.000515e+08,Female,1969.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,Primary school,NaN,NaN,NaN,NaN,NaN,Illiterate/Semi-literate,NaN,NaN
1,1.000515e+08,Male,1966.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN
2,1.003766e+08,Female,1997.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,Not applicable,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN
3,1.004356e+08,Female,2016.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,Junior high school,NaN,NaN,NaN,NaN,NaN,Senior high school/secondary school/technical ...,NaN,NaN
4,1.004534e+08,Female,2012.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,4-year college,NaN,NaN,NaN,NaN,NaN,4-year college,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77076,3.203032e+08,0.0,1972.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0
77077,6.694542e+09,1.0,1996.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0
77078,6.694542e+09,0.0,2020.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,4.0
77079,6.759192e+09,0.0,2018.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,5.0
77080,6.770892e+09,0.0,1992.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0

In [169]:
merged_df = pd.merge(selected_df2,adult_df,how='inner',on='pid')
merged_df

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a18_f,tb4_a20_f,tb4_a_m,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m,urban,edu_year
0,1.000515e+08,Female,1969.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Illiterate/Semi-literate,NaN,NaN,1.0,12.0
1,1.000515e+08,Male,1966.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,12.0
2,1.003766e+08,Female,1997.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,0.0,-9.0
3,1.004534e+08,Male,1981.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,16.0
4,1.005516e+08,Female,1990.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,16.0
57967,4.116622e+08,1.0,1957.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,9.0
57968,7.609357e+08,1.0,1985.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,12.0
57969,3.203032e+08,1.0,1970.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,15.0
57970,6.694542e+09,1.0,1996.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,-9.0,12.0

In [170]:
# 处理年份
nan_col = ['Not applicable','Missing','Unknown', 'Refuse','-1.0', '-9.0', '-2.0',-1.0,-2.0,-9.0,np.nan]
merged_df_c = merged_df[~merged_df['tb1y_a_p'].isin(nan_col)]
merged_df_c['tb1y_a_p'] = merged_df_c['tb1y_a_p'].astype('float')
# 处理性别
merged_df_c = merged_df[~merged_df['tb2_a_p'].isin(nan_col)]
merged_df_c.loc[merged_df_c['tb2_a_p']=='Female','tb2_a_p'] = 0.0
merged_df_c.loc[merged_df_c['tb2_a_p']=='Male','tb2_a_p'] = 1.0
merged_df_c['tb2_a_p'] = merged_df_c['tb2_a_p'].astype('float')
merged_df_c

/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Library/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a18_f,tb4_a20_f,tb4_a_m,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m,urban,edu_year
0,1.000515e+08,0.0,1969.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Illiterate/Semi-literate,NaN,NaN,1.0,12.0
1,1.000515e+08,1.0,1966.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,12.0
2,1.003766e+08,0.0,1997.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,0.0,-9.0
3,1.004534e+08,1.0,1981.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,16.0
4,1.005516e+08,0.0,1990.0,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,16.0
57967,4.116622e+08,1.0,1957.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,9.0
57968,7.609357e+08,1.0,1985.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,12.0
57969,3.203032e+08,1.0,1970.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,15.0
57970,6.694542e+09,1.0,1996.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,-9.0,12.0

In [171]:
# 合并familysize
def find_nonan(x):
    l = list(x.dropna())
    if len(l)>0:
        return l[0]
    else:
        return None
    
merged_df_c['familysize'] = merged_df_c[['familysize','familysize14','familysize16', 'familysize18', 'familysize20']].apply(lambda x:find_nonan(x),axis=1)
merged_df_c

/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a18_f,tb4_a20_f,tb4_a_m,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m,urban,edu_year
0,1.000515e+08,0.0,1969.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Illiterate/Semi-literate,NaN,NaN,1.0,12.0
1,1.000515e+08,1.0,1966.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,12.0
2,1.003766e+08,0.0,1997.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,0.0,-9.0
3,1.004534e+08,1.0,1981.0,6.0,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,16.0
4,1.005516e+08,0.0,1990.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,16.0
57967,4.116622e+08,1.0,1957.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,9.0
57968,7.609357e+08,1.0,1985.0,5.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,12.0
57969,3.203032e+08,1.0,1970.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,15.0
57970,6.694542e+09,1.0,1996.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,-9.0,12.0

In [172]:
# 合并个人educational level

    
merged_df_c['edu_level'] = merged_df_c[['tb4_a_p', 'tb4_a12_p', 'tb4_a14_p', 'tb4_a16_p', 'tb4_a18_p', 'tb4_a20_p' ]].apply(lambda x:find_latest(x),axis=1)
merged_df_c

/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a20_f,tb4_a_m,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m,urban,edu_year,edu_level
0,1.000515e+08,0.0,1969.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Illiterate/Semi-literate,NaN,NaN,1.0,12.0,Senior high school/secondary school/technical ...
1,1.000515e+08,1.0,1966.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,12.0,Senior high school/secondary school/technical ...
2,1.003766e+08,0.0,1997.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,0.0,-9.0,Junior high school
3,1.004534e+08,1.0,1981.0,6.0,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,16.0,4-year college
4,1.005516e+08,0.0,1990.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Not applicable,NaN,NaN,1.0,-9.0,4-year college
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,...,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,16.0,6.0
57967,4.116622e+08,1.0,1957.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,...,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,1.0,9.0,3.0
57968,7.609357e+08,1.0,1985.0,5.0,NaN,NaN,NaN,5.0,NaN,NaN,...,-8.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,12.0,4.0
57969,3.203032e+08,1.0,1970.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,4.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,15.0,5.0
57970,6.694542e+09,1.0,1996.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,-8.0,NaN,NaN,NaN,NaN,NaN,-8.0,-9.0,12.0,4.0

In [173]:
# 合并父母educational level

    
merged_df_c['edu_level_f'] = merged_df_c[['tb4_a_f', 'tb4_a12_f', 'tb4_a14_f', 'tb4_a16_f', 'tb4_a18_f', 'tb4_a20_f' ]].apply(lambda x:find_latest(x),axis=1)
merged_df_c['edu_level_m'] = merged_df_c[['tb4_a_m', 'tb4_a12_m', 'tb4_a14_m', 'tb4_a16_m', 'tb4_a18_m', 'tb4_a20_m' ]].apply(lambda x:find_latest(x),axis=1)

/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [174]:
merged_df_c

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m,urban,edu_year,edu_level,edu_level_f,edu_level_m
0,1.000515e+08,0.0,1969.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Illiterate/Semi-literate,NaN,NaN,1.0,12.0,Senior high school/secondary school/technical ...,Primary school,Illiterate/Semi-literate
1,1.000515e+08,1.0,1966.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,1.0,12.0,Senior high school/secondary school/technical ...,Not applicable,Not applicable
2,1.003766e+08,0.0,1997.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,0.0,-9.0,Junior high school,Not applicable,Not applicable
3,1.004534e+08,1.0,1981.0,6.0,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,1.0,16.0,4-year college,Not applicable,Not applicable
4,1.005516e+08,0.0,1990.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,1.0,-9.0,4-year college,Not applicable,Not applicable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.0,1.0,16.0,6.0,-8.0,-8.0
57967,4.116622e+08,1.0,1957.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.0,1.0,9.0,3.0,-8.0,-8.0
57968,7.609357e+08,1.0,1985.0,5.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,1.0,12.0,4.0,-8.0,3.0
57969,3.203032e+08,1.0,1970.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,1.0,15.0,5.0,4.0,3.0
57970,6.694542e+09,1.0,1996.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.0,-9.0,12.0,4.0,-8.0,-8.0

In [183]:
for i in df2020.columns:
    print(i)

fid20
fid18
fid16
fid14
fid12
fid10
fid_base
subpopulation
subsample
psu
fid_countyid20
fid_cid20
fid_provcd20
fid_urban20
gene
coremember20
pid
rtype_end
code_a_p
tb6_a20_p
co_a20_p
c105_a20_p
tb2_a_p
tb1y_a_p
tb1m_a_p
tb3_a20_p
tb4_a20_p
hukou_a20_p
cfps2020_interv_p
alive_a20_p
outpers_r_where20_p
tb602acode_a20_p
tb602ccode_a20_p
ta4y_a20_p
ta4m_a20_p
ta401_a20_p
tb601_a20_p
outunit20
pid_a_f
code_a_f
tb6_a20_f
co_a20_f
tb2_a_f
tb1y_a_f
tb1m_a_f
tb3_a20_f
tb4_a20_f
hukou_a20_f
cfps2020_interv_f
alive_a20_f
outpers_r_where20_f
tb602acode_a20_f
tb602ccode_a20_f
ta4y_a20_f
ta4m_a20_f
ta401_a20_f
tb601_a20_f
pid_a_m
code_a_m
tb6_a20_m
co_a20_m
tb2_a_m
tb1y_a_m
tb1m_a_m
tb3_a20_m
tb4_a20_m
hukou_a20_m
cfps2020_interv_m
alive_a20_m
outpers_r_where20_m
tb602acode_a20_m
tb602ccode_a20_m
ta4y_a20_m
ta4m_a20_m
ta401_a20_m
tb601_a20_m
pid_a_s
code_a_s
tb6_a20_s
co_a20_s
tb2_a_s
tb1y_a_s
tb1m_a_s
tb3_a20_s
tb4_a20_s
hukou_a20_s
cfps2020_interv_s
alive_a20_s
outpers_r_where20_s
tb602acode_a20_s
tb602ccode_a20_s
ta4y_a20_s
ta4m_a20_s
ta401_a20_s
tb601_a20_s
pid_a_c1
code_a_c1
tb6_a20_c1
co_a20_c1
tb2_a_c1
tb1y_a_c1
tb1m_a_c1
tb3_a20_c1
tb4_a20_c1
hukou_a20_c1
cfps2020_interv_c1
alive_a20_c1
outpers_r_where20_c1
tb602acode_a20_c1
tb602ccode_a20_c1
ta4y_a20_c1
ta4m_a20_c1
ta401_a20_c1
tb601_a20_c1
pid_a_c2
code_a_c2
tb6_a20_c2
co_a20_c2
tb2_a_c2
tb1y_a_c2
tb1m_a_c2
tb3_a20_c2
tb4_a20_c2
hukou_a20_c2
cfps2020_interv_c2
alive_a20_c2
outpers_r_where20_c2
tb602acode_a20_c2
tb602ccode_a20_c2
ta4y_a20_c2
ta4m_a20_c2
ta401_a20_c2
tb601_a20_c2
pid_a_c3
code_a_c3
tb6_a20_c3
co_a20_c3
tb2_a_c3
tb1y_a_c3
tb1m_a_c3
tb3_a20_c3
tb4_a20_c3
hukou_a20_c3
cfps2020_interv_c3
alive_a20_c3
outpers_r_where20_c3
tb602acode_a20_c3
tb602ccode_a20_c3
ta4y_a20_c3
ta4m_a20_c3
ta401_a20_c3
tb601_a20_c3
pid_a_c4
code_a_c4
tb6_a20_c4
co_a20_c4
tb2_a_c4
tb1y_a_c4
tb1m_a_c4
tb3_a20_c4
tb4_a20_c4
hukou_a20_c4
cfps2020_interv_c4
alive_a20_c4
outpers_r_where20_c4
tb602acode_a20_c4
tb602ccode_a20_c4
ta4y_a20_c4
ta4m_a20_c4
ta401_a20_c4
tb601_a20_c4
pid_a_c5
code_a_c5
tb6_a20_c5
co_a20_c5
tb2_a_c5
tb1y_a_c5
tb1m_a_c5
tb3_a20_c5
tb4_a20_c5
hukou_a20_c5
cfps2020_interv_c5
alive_a20_c5
outpers_r_where20_c5
tb602acode_a20_c5
tb602ccode_a20_c5
ta4y_a20_c5
ta4m_a20_c5
ta401_a20_c5
tb601_a20_c5
pid_a_c6
code_a_c6
tb6_a20_c6
co_a20_c6
tb2_a_c6
tb1y_a_c6
tb1m_a_c6
tb3_a20_c6
tb4_a20_c6
hukou_a20_c6
cfps2020_interv_c6
alive_a20_c6
outpers_r_where20_c6
tb602acode_a20_c6
tb602ccode_a20_c6
ta4y_a20_c6
ta4m_a20_c6
ta401_a20_c6
tb601_a20_c6
pid_a_c7
code_a_c7
tb6_a20_c7
co_a20_c7
tb2_a_c7
tb1y_a_c7
tb1m_a_c7
tb3_a20_c7
tb4_a20_c7
hukou_a20_c7
cfps2020_interv_c7
alive_a20_c7
outpers_r_where20_c7
tb602acode_a20_c7
tb602ccode_a20_c7
ta4y_a20_c7
ta4m_a20_c7
ta401_a20_c7
tb601_a20_c7
pid_a_c8
code_a_c8
tb6_a20_c8
co_a20_c8
tb2_a_c8
tb1y_a_c8
tb1m_a_c8
tb3_a20_c8
tb4_a20_c8
hukou_a20_c8
cfps2020_interv_c8
alive_a20_c8
outpers_r_where20_c8
tb602acode_a20_c8
tb602ccode_a20_c8
ta4y_a20_c8
ta4m_a20_c8
ta401_a20_c8
tb601_a20_c8
pid_a_c9
code_a_c9
tb6_a20_c9
co_a20_c9
tb2_a_c9
tb1y_a_c9
tb1m_a_c9
tb3_a20_c9
tb4_a20_c9
hukou_a20_c9
cfps2020_interv_c9
alive_a20_c9
outpers_r_where20_c9
tb602acode_a20_c9
tb602ccode_a20_c9
ta4y_a20_c9
ta4m_a20_c9
ta401_a20_c9
tb601_a20_c9
pid_a_c10
code_a_c10
tb6_a20_c10
co_a20_c10
tb2_a_c10
tb1y_a_c10
tb1m_a_c10
tb3_a20_c10
tb4_a20_c10
hukou_a20_c10
cfps2020_interv_c10
alive_a20_c10
outpers_r_where20_c10
tb602acode_a20_c10
tb602ccode_a20_c10
ta4y_a20_c10
ta4m_a20_c10
ta401_a20_c10
tb601_a20_c10
ads1_20
kz103_20
interrupt
cyear20
cmonth20
iwmode20
kz1pid20
sresppid20
interviewerid20
genetype20
familysize20
releaseversion

In [175]:
# 处理学历
edu_col = ['edu_level', 'edu_level_f', 'edu_level_m']

edu_dict = {'Illiterate/Semi-literate':1,'Primary school':2,'Junior high school':3,
           'Senior high school/secondary school/technical school/vocational senior school':4,
           '3-year college':5,'4-year college':6,"Master's degree":7,'Doctoral degree':8,
           'Not applicable':-1,'Missing':-1,'Unknown':-1,np.nan:-1, -8.0:-1, -1:-1, -2:-1, 1:1,
           2:2,3:3, 4:4, 5:5, 6:6, 7:7, 8:8}
merged_df_c1 = merged_df_c.copy()
for col in edu_col:
    merged_df_c1[col] = merged_df_c1[col].map(edu_dict)
    merged_df_c1[col] = merged_df_c1[col].astype('float')
merged_df_c1[edu_col]

       edu_level  edu_level_f  edu_level_m
0            4.0          2.0          1.0
1            4.0         -1.0         -1.0
2            3.0         -1.0         -1.0
3            6.0         -1.0         -1.0
4            6.0         -1.0         -1.0
...          ...          ...          ...
57966        6.0         -1.0         -1.0
57967        3.0         -1.0         -1.0
57968        4.0         -1.0          3.0
57969        5.0          4.0          3.0
57970        4.0         -1.0         -1.0

[57732 rows x 3 columns]

In [176]:
merged_df_c1

,pid,tb2_a_p,tb1y_a_p,familysize,familysize14,familysize16,familysize18,familysize20,tb4_a_p,tb4_a12_p,...,tb4_a12_m,tb4_a14_m,tb4_a16_m,tb4_a18_m,tb4_a20_m,urban,edu_year,edu_level,edu_level_f,edu_level_m
0,1.000515e+08,0.0,1969.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Illiterate/Semi-literate,NaN,NaN,1.0,12.0,4.0,2.0,1.0
1,1.000515e+08,1.0,1966.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,1.0,12.0,4.0,-1.0,-1.0
2,1.003766e+08,0.0,1997.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,0.0,-9.0,3.0,-1.0,-1.0
3,1.004534e+08,1.0,1981.0,6.0,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,1.0,16.0,6.0,-1.0,-1.0
4,1.005516e+08,0.0,1990.0,3.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Not applicable,NaN,NaN,1.0,-9.0,6.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,2.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.0,1.0,16.0,6.0,-1.0,-1.0
57967,4.116622e+08,1.0,1957.0,4.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.0,1.0,9.0,3.0,-1.0,-1.0
57968,7.609357e+08,1.0,1985.0,5.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,1.0,12.0,4.0,-1.0,3.0
57969,3.203032e+08,1.0,1970.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,3.0,1.0,15.0,5.0,4.0,3.0
57970,6.694542e+09,1.0,1996.0,3.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,-8.0,-9.0,12.0,4.0,-1.0,-1.0

In [184]:
base_data_df = merged_df_c1[['pid','tb2_a_p','tb1y_a_p','urban','familysize','edu_level', 'edu_level_f', 'edu_level_m']]
base_data_df

,pid,tb2_a_p,tb1y_a_p,urban,familysize,edu_level,edu_level_f,edu_level_m
0,1.000515e+08,0.0,1969.0,1.0,3.0,4.0,2.0,1.0
1,1.000515e+08,1.0,1966.0,1.0,3.0,4.0,-1.0,-1.0
2,1.003766e+08,0.0,1997.0,0.0,2.0,3.0,-1.0,-1.0
3,1.004534e+08,1.0,1981.0,1.0,6.0,6.0,-1.0,-1.0
4,1.005516e+08,0.0,1990.0,1.0,3.0,6.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,1.0,2.0,6.0,-1.0,-1.0
57967,4.116622e+08,1.0,1957.0,1.0,4.0,3.0,-1.0,-1.0
57968,7.609357e+08,1.0,1985.0,1.0,5.0,4.0,-1.0,3.0
57969,3.203032e+08,1.0,1970.0,1.0,3.0,5.0,4.0,3.0
57970,6.694542e+09,1.0,1996.0,-9.0,3.0,4.0,-1.0,-1.0

In [185]:
base_data_df.loc[base_data_df['edu_level']<0, 'edu_level'] = np.nan
base_data_df.loc[base_data_df['edu_level_f']<0, 'edu_level_f'] = np.nan
base_data_df.loc[base_data_df['edu_level_m']<0, 'edu_level_m'] = np.nan

/Library/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [186]:
base_data_df

,pid,tb2_a_p,tb1y_a_p,urban,familysize,edu_level,edu_level_f,edu_level_m
0,1.000515e+08,0.0,1969.0,1.0,3.0,4.0,2.0,1.0
1,1.000515e+08,1.0,1966.0,1.0,3.0,4.0,NaN,NaN
2,1.003766e+08,0.0,1997.0,0.0,2.0,3.0,NaN,NaN
3,1.004534e+08,1.0,1981.0,1.0,6.0,6.0,NaN,NaN
4,1.005516e+08,0.0,1990.0,1.0,3.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...
57966,6.976627e+08,0.0,1994.0,1.0,2.0,6.0,NaN,NaN
57967,4.116622e+08,1.0,1957.0,1.0,4.0,3.0,NaN,NaN
57968,7.609357e+08,1.0,1985.0,1.0,5.0,4.0,NaN,3.0
57969,3.203032e+08,1.0,1970.0,1.0,3.0,5.0,4.0,3.0
57970,6.694542e+09,1.0,1996.0,-9.0,3.0,4.0,NaN,NaN

In [167]:
base_data_df

,pid,tb2_a_p,tb1y_a_p,real_urban,real_familysize,edu_level,edu_level_f,edu_level_m
0,100051501.0,0.0,1969.0,1.0,3.0,4.0,2.0,1.0
1,100051502.0,1.0,1966.0,1.0,3.0,4.0,NaN,NaN
2,100376551.0,0.0,1997.0,0.0,2.0,3.0,NaN,NaN
3,100453431.0,1.0,1981.0,1.0,6.0,6.0,NaN,NaN
4,100551551.0,0.0,1990.0,1.0,3.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...
56881,696596651.0,1.0,1991.0,0.0,4.0,4.0,NaN,NaN
56882,697662651.0,0.0,1994.0,1.0,2.0,6.0,NaN,NaN
56883,411662207.0,1.0,1957.0,1.0,4.0,3.0,NaN,NaN
56884,760935651.0,1.0,1985.0,1.0,5.0,4.0,NaN,3.0
56885,320303203.0,1.0,1970.0,1.0,3.0,5.0,4.0,3.0

In [188]:
# 划分年龄
base_data_df.loc[base_data_df['tb1y_a_p'].isin(nan_col),'tb1y_a_p'] = -1.0
base_data_df['tb1y_a_p'] = base_data_df['tb1y_a_p'].astype('float')
g2_df = base_data_df[(base_data_df['tb1y_a_p']<=1969)&(base_data_df['tb1y_a_p']>=1940)]
g3_df = base_data_df[(base_data_df['tb1y_a_p']<=1988)&(base_data_df['tb1y_a_p']>1969)]

/Library/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
/Library/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [189]:
g2_df

,pid,tb2_a_p,tb1y_a_p,urban,familysize,edu_level,edu_level_f,edu_level_m
0,100051501.0,0.0,1969.0,1.0,3.0,4.0,2.0,1.0
1,100051502.0,1.0,1966.0,1.0,3.0,4.0,NaN,NaN
10,102571551.0,0.0,1945.0,0.0,3.0,1.0,NaN,NaN
11,102571552.0,1.0,1948.0,0.0,3.0,2.0,NaN,NaN
36,110006101.0,1.0,1960.0,1.0,3.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...
57902,621343203.0,0.0,1968.0,1.0,8.0,1.0,3.0,1.0
57910,441118204.0,1.0,1968.0,1.0,3.0,3.0,NaN,NaN
57944,669499651.0,1.0,1959.0,0.0,3.0,3.0,NaN,NaN
57945,669499652.0,0.0,1959.0,0.0,3.0,1.0,NaN,NaN
57967,411662207.0,1.0,1957.0,1.0,4.0,3.0,NaN,NaN

In [190]:
g3_df

,pid,tb2_a_p,tb1y_a_p,urban,familysize,edu_level,edu_level_f,edu_level_m
3,100453431.0,1.0,1981.0,1.0,6.0,6.0,NaN,NaN
5,100810551.0,0.0,1987.0,1.0,3.0,3.0,NaN,NaN
7,101274551.0,1.0,1976.0,0.0,2.0,5.0,NaN,NaN
9,102438551.0,0.0,1986.0,1.0,3.0,4.0,NaN,NaN
12,103465551.0,0.0,1986.0,1.0,3.0,6.0,NaN,NaN
...,...,...,...,...,...,...,...,...
57959,689452651.0,1.0,1974.0,1.0,4.0,4.0,NaN,NaN
57960,689452652.0,0.0,1975.0,1.0,4.0,3.0,3.0,2.0
57962,693751656.0,1.0,1983.0,0.0,7.0,2.0,NaN,NaN
57968,760935651.0,1.0,1985.0,1.0,5.0,4.0,NaN,3.0
57969,320303203.0,1.0,1970.0,1.0,3.0,5.0,4.0,3.0

In [192]:
g2_df.describe()

,pid,tb2_a_p,tb1y_a_p,urban,familysize,edu_level,edu_level_f,edu_level_m
count,2.174000e+04,21740.000000,21740.000000,20380.000000,21740.000000,21603.000000,14446.000000,15237.000000
mean,3.797679e+08,0.501610,1956.750598,0.381452,4.004646,2.228857,1.597120,1.229967
std,1.469185e+08,0.500009,8.211614,0.862458,1.979848,1.196091,0.945348,0.615083
min,1.000515e+08,0.000000,1940.000000,-9.000000,1.000000,1.000000,1.000000,1.000000
25%,2.305539e+08,0.000000,1950.000000,0.000000,2.000000,1.000000,1.000000,1.000000
50%,4.103228e+08,1.000000,1957.000000,0.000000,4.000000,2.000000,1.000000,1.000000
75%,5.001751e+08,1.000000,1964.000000,1.000000,5.000000,3.000000,2.000000,1.000000
max,9.623774e+08,1.000000,1969.000000,1.000000,19.000000,8.000000,8.000000,8.000000

In [193]:
g2_df = g2_df.replace(-1.0,np.nan)
g2_df = g2_df.replace(-8.0,np.nan)
g2_df['edu_level_f'] = g2_df['edu_level_f'].fillna(g2_df['edu_level_f'].median())
g2_df['edu_level_m'] = g2_df['edu_level_m'].fillna(g2_df['edu_level_m'].median())
g2_df['edu_level'] = g2_df['edu_level'].fillna(g2_df['edu_level'].median())
g2_df

,pid,tb2_a_p,tb1y_a_p,urban,familysize,edu_level,edu_level_f,edu_level_m
0,100051501.0,0.0,1969.0,1.0,3.0,4.0,2.0,1.0
1,100051502.0,1.0,1966.0,1.0,3.0,4.0,1.0,1.0
10,102571551.0,0.0,1945.0,0.0,3.0,1.0,1.0,1.0
11,102571552.0,1.0,1948.0,0.0,3.0,2.0,1.0,1.0
36,110006101.0,1.0,1960.0,1.0,3.0,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...
57902,621343203.0,0.0,1968.0,1.0,8.0,1.0,3.0,1.0
57910,441118204.0,1.0,1968.0,1.0,3.0,3.0,1.0,1.0
57944,669499651.0,1.0,1959.0,0.0,3.0,3.0,1.0,1.0
57945,669499652.0,0.0,1959.0,0.0,3.0,1.0,1.0,1.0
57967,411662207.0,1.0,1957.0,1.0,4.0,3.0,1.0,1.0

In [194]:
g3_df = g3_df.replace(-1.0,np.nan)
g3_df = g3_df.replace(-8.0,np.nan)
g3_df['edu_level_f'] = g3_df['edu_level_f'].fillna(g3_df['edu_level_f'].median())
g3_df['edu_level_m'] = g3_df['edu_level_m'].fillna(g3_df['edu_level_m'].median())
g3_df['edu_level'] = g3_df['edu_level'].fillna(g3_df['edu_level'].median())
g3_df

,pid,tb2_a_p,tb1y_a_p,urban,familysize,edu_level,edu_level_f,edu_level_m
3,100453431.0,1.0,1981.0,1.0,6.0,6.0,2.0,1.0
5,100810551.0,0.0,1987.0,1.0,3.0,3.0,2.0,1.0
7,101274551.0,1.0,1976.0,0.0,2.0,5.0,2.0,1.0
9,102438551.0,0.0,1986.0,1.0,3.0,4.0,2.0,1.0
12,103465551.0,0.0,1986.0,1.0,3.0,6.0,2.0,1.0
...,...,...,...,...,...,...,...,...
57959,689452651.0,1.0,1974.0,1.0,4.0,4.0,2.0,1.0
57960,689452652.0,0.0,1975.0,1.0,4.0,3.0,3.0,2.0
57962,693751656.0,1.0,1983.0,0.0,7.0,2.0,2.0,1.0
57968,760935651.0,1.0,1985.0,1.0,5.0,4.0,2.0,3.0
57969,320303203.0,1.0,1970.0,1.0,3.0,5.0,4.0,3.0

In [195]:
g2_df = g2_df.rename(columns={'tb2_a_p': 'gender', 'tb1y_a_p': 'birth_year'})
g3_df = g3_df.rename(columns={'tb2_a_p': 'gender', 'tb1y_a_p': 'birth_year'})

In [196]:
# g2 edu percentile 

g2_df['edu_level_parent'] = (g2_df['edu_level_f'] + g2_df['edu_level_m'])/2

g2_df['edu_percentile_score'] = g2_df['edu_level'].rank()/len(g2_df)
g2_df['edu_percentile_score_parent'] = g2_df['edu_level_parent'].rank()/len(g2_df)


g2_df

,pid,gender,birth_year,urban,familysize,edu_level,edu_level_f,edu_level_m,edu_level_parent,edu_percentile_score,edu_percentile_score_parent
0,100051501.0,0.0,1969.0,1.0,3.0,4.0,2.0,1.0,1.5,0.905520,0.786546
1,100051502.0,1.0,1966.0,1.0,3.0,4.0,1.0,1.0,1.0,0.905520,0.357521
10,102571551.0,0.0,1945.0,0.0,3.0,1.0,1.0,1.0,1.0,0.185833,0.357521
11,102571552.0,1.0,1948.0,0.0,3.0,2.0,1.0,1.0,1.0,0.485718,0.357521
36,110006101.0,1.0,1960.0,1.0,3.0,3.0,1.0,1.0,1.0,0.721642,0.357521
...,...,...,...,...,...,...,...,...,...,...,...
57902,621343203.0,0.0,1968.0,1.0,8.0,1.0,3.0,1.0,2.0,0.185833,0.896205
57910,441118204.0,1.0,1968.0,1.0,3.0,3.0,1.0,1.0,1.0,0.721642,0.357521
57944,669499651.0,1.0,1959.0,0.0,3.0,3.0,1.0,1.0,1.0,0.721642,0.357521
57945,669499652.0,0.0,1959.0,0.0,3.0,1.0,1.0,1.0,1.0,0.185833,0.357521
57967,411662207.0,1.0,1957.0,1.0,4.0,3.0,1.0,1.0,1.0,0.721642,0.357521

In [197]:
# g3 edu percentile 

g3_df['edu_level_parent'] = (g3_df['edu_level_f'] + g3_df['edu_level_m'])/2

g3_df['edu_percentile_score'] = g3_df['edu_level'].rank()/len(g3_df)
g3_df['edu_percentile_score_parent'] = g3_df['edu_level_parent'].rank()/len(g3_df)

g3_df

,pid,gender,birth_year,urban,familysize,edu_level,edu_level_f,edu_level_m,edu_level_parent,edu_percentile_score,edu_percentile_score_parent
3,100453431.0,1.0,1981.0,1.0,6.0,6.0,2.0,1.0,1.5,0.960246,0.375609
5,100810551.0,0.0,1987.0,1.0,3.0,3.0,2.0,1.0,1.5,0.517340,0.375609
7,101274551.0,1.0,1976.0,0.0,2.0,5.0,2.0,1.0,1.5,0.881972,0.375609
9,102438551.0,0.0,1986.0,1.0,3.0,4.0,2.0,1.0,1.5,0.760848,0.375609
12,103465551.0,0.0,1986.0,1.0,3.0,6.0,2.0,1.0,1.5,0.960246,0.375609
...,...,...,...,...,...,...,...,...,...,...,...
57959,689452651.0,1.0,1974.0,1.0,4.0,4.0,2.0,1.0,1.5,0.760848,0.375609
57960,689452652.0,0.0,1975.0,1.0,4.0,3.0,3.0,2.0,2.5,0.517340,0.775380
57962,693751656.0,1.0,1983.0,0.0,7.0,2.0,2.0,1.0,1.5,0.243222,0.375609
57968,760935651.0,1.0,1985.0,1.0,5.0,4.0,2.0,3.0,2.5,0.760848,0.775380
57969,320303203.0,1.0,1970.0,1.0,3.0,5.0,4.0,3.0,3.5,0.881972,0.940613

In [198]:
gender_map = {1.0: 'Male', 0.0: 'Female'}
g2_df['gender'] = g2_df['gender'].map(gender_map)
g3_df['gender'] = g3_df['gender'].map(gender_map)

In [200]:
living_area_map = {1.0: 'urban', 0.0: 'rural'}
g2_df['living_area'] = g2_df['urban'].map(living_area_map)
g3_df['living_area'] = g3_df['urban'].map(living_area_map)

In [20]:
g2_df

,pid,gender,birth_year,real_urban,real_familysize,edu_level,edu_level_f,edu_level_m,edu_level_parent,edu_percentile_score,edu_percentile_score_parent,living_area
0,100051501.0,Female,1969.0,1.0,3.0,4.0,2.0,1.0,1.5,0.905608,0.786407,urban
1,100051502.0,Male,1966.0,1.0,3.0,4.0,1.0,1.0,1.0,0.905608,0.357374,urban
10,102571551.0,Female,1945.0,0.0,3.0,1.0,1.0,1.0,1.0,0.186245,0.357374,rural
11,102571552.0,Male,1948.0,0.0,3.0,2.0,1.0,1.0,1.0,0.486291,0.357374,rural
36,110006101.0,Male,1960.0,1.0,3.0,3.0,1.0,1.0,1.0,0.721879,0.357374,urban
...,...,...,...,...,...,...,...,...,...,...,...,...
56820,621343203.0,Female,1968.0,1.0,8.0,1.0,3.0,1.0,2.0,0.186245,0.896261,urban
56828,441118204.0,Male,1968.0,1.0,3.0,3.0,1.0,1.0,1.0,0.721879,0.357374,urban
56861,669499651.0,Male,1959.0,0.0,3.0,3.0,1.0,1.0,1.0,0.721879,0.357374,rural
56862,669499652.0,Female,1959.0,0.0,3.0,1.0,1.0,1.0,1.0,0.186245,0.357374,rural
56883,411662207.0,Male,1957.0,1.0,4.0,3.0,1.0,1.0,1.0,0.721879,0.357374,urban

In [201]:
g3_df

,pid,gender,birth_year,urban,familysize,edu_level,edu_level_f,edu_level_m,edu_level_parent,edu_percentile_score,edu_percentile_score_parent,living_area
3,100453431.0,Male,1981.0,1.0,6.0,6.0,2.0,1.0,1.5,0.960246,0.375609,urban
5,100810551.0,Female,1987.0,1.0,3.0,3.0,2.0,1.0,1.5,0.517340,0.375609,urban
7,101274551.0,Male,1976.0,0.0,2.0,5.0,2.0,1.0,1.5,0.881972,0.375609,rural
9,102438551.0,Female,1986.0,1.0,3.0,4.0,2.0,1.0,1.5,0.760848,0.375609,urban
12,103465551.0,Female,1986.0,1.0,3.0,6.0,2.0,1.0,1.5,0.960246,0.375609,urban
...,...,...,...,...,...,...,...,...,...,...,...,...
57959,689452651.0,Male,1974.0,1.0,4.0,4.0,2.0,1.0,1.5,0.760848,0.375609,urban
57960,689452652.0,Female,1975.0,1.0,4.0,3.0,3.0,2.0,2.5,0.517340,0.775380,urban
57962,693751656.0,Male,1983.0,0.0,7.0,2.0,2.0,1.0,1.5,0.243222,0.375609,rural
57968,760935651.0,Male,1985.0,1.0,5.0,4.0,2.0,3.0,2.5,0.760848,0.775380,urban
57969,320303203.0,Male,1970.0,1.0,3.0,5.0,4.0,3.0,3.5,0.881972,0.940613,urban

In [25]:
g2_df['edu_improvement'] = g2_df['edu_level'] - g2_df['edu_level_parent']
g3_df['edu_improvement'] = g3_df['edu_level'] - g3_df['edu_level_parent']

g2_df['edu_rank_improvement'] = g2_df['edu_percentile_score'] - g2_df['edu_percentile_score_parent']
g3_df['edu_rank_improvement'] = g3_df['edu_percentile_score'] - g3_df['edu_percentile_score_parent']

In [26]:
g2_df

,pid,gender,birth_year,real_urban,real_familysize,edu_level,edu_level_f,edu_level_m,edu_level_parent,edu_percentile_score,edu_percentile_score_parent,living_area,edu_improvement,edu_rank_improvement
0,100051501.0,Female,1969.0,1.0,3.0,4.0,2.0,1.0,1.5,0.905608,0.786407,urban,2.5,0.119201
1,100051502.0,Male,1966.0,1.0,3.0,4.0,1.0,1.0,1.0,0.905608,0.357374,urban,3.0,0.548234
10,102571551.0,Female,1945.0,0.0,3.0,1.0,1.0,1.0,1.0,0.186245,0.357374,rural,0.0,-0.171129
11,102571552.0,Male,1948.0,0.0,3.0,2.0,1.0,1.0,1.0,0.486291,0.357374,rural,1.0,0.128918
36,110006101.0,Male,1960.0,1.0,3.0,3.0,1.0,1.0,1.0,0.721879,0.357374,urban,2.0,0.364505
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56820,621343203.0,Female,1968.0,1.0,8.0,1.0,3.0,1.0,2.0,0.186245,0.896261,urban,-1.0,-0.710016
56828,441118204.0,Male,1968.0,1.0,3.0,3.0,1.0,1.0,1.0,0.721879,0.357374,urban,2.0,0.364505
56861,669499651.0,Male,1959.0,0.0,3.0,3.0,1.0,1.0,1.0,0.721879,0.357374,rural,2.0,0.364505
56862,669499652.0,Female,1959.0,0.0,3.0,1.0,1.0,1.0,1.0,0.186245,0.357374,rural,0.0,-0.171129
56883,411662207.0,Male,1957.0,1.0,4.0,3.0,1.0,1.0,1.0,0.721879,0.357374,urban,2.0,0.364505

In [27]:
g3_df

,pid,gender,birth_year,real_urban,real_familysize,edu_level,edu_level_f,edu_level_m,edu_level_parent,edu_percentile_score,edu_percentile_score_parent,living_area,edu_improvement,edu_rank_improvement
3,100453431.0,Male,1981.0,1.0,6.0,6.0,2.0,1.0,1.5,0.960582,0.376016,urban,4.5,0.584566
5,100810551.0,Female,1987.0,1.0,3.0,3.0,2.0,1.0,1.5,0.519416,0.376016,urban,1.5,0.143400
7,101274551.0,Male,1976.0,0.0,2.0,5.0,2.0,1.0,1.5,0.882742,0.376016,rural,3.5,0.506726
9,102438551.0,Female,1986.0,1.0,3.0,4.0,2.0,1.0,1.5,0.761945,0.376016,urban,2.5,0.385929
12,103465551.0,Female,1986.0,1.0,3.0,6.0,2.0,1.0,1.5,0.960582,0.376016,urban,4.5,0.584566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56875,689452651.0,Male,1974.0,1.0,4.0,4.0,2.0,1.0,1.5,0.761945,0.376016,urban,2.5,0.385929
56876,689452652.0,Female,1975.0,1.0,4.0,3.0,3.0,2.0,2.5,0.519416,0.775016,urban,0.5,-0.255600
56878,693751656.0,Male,1983.0,0.0,7.0,2.0,2.0,1.0,1.5,0.245599,0.376016,rural,0.5,-0.130417
56884,760935651.0,Male,1985.0,1.0,5.0,4.0,2.0,3.0,2.5,0.761945,0.775016,urban,1.5,-0.013071
56885,320303203.0,Male,1970.0,1.0,3.0,5.0,4.0,3.0,3.5,0.882742,0.940406,urban,1.5,-0.057664

In [28]:
g2_df.to_csv("/Users/chenzhibin/Desktop/MA_data/g2_data.csv")
g3_df.to_csv("/Users/chenzhibin/Desktop/MA_data/g3_data.csv")